<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>HELPDESK</mat-card-title>
      <mat-card-subtitle>Mais do que apenas conhecimento</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/laptop.jpg" alt="Reservado para helpdesk">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>